
@{
    ViewBag.Title = "SanPham";
}

<section class="trangsanpham col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <!--Banner-->
    @Html.Partial("_Banner")

    <!--Danh sách sản phẩm-->
    <article class="col-xs-12 col-sm-12 col-md-9 col-lg-9 pull-right">

        <!--Sản phẩm mới-->
        <div class="danhsachsanpham col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!--Tiêu đề-->
            <div class="tieude col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p>Sản phẩm mới nhất</p>
                <a href="@Url.Action("LoaiSanPham","Home")">xem thêm <i class="fa fa-chevron-circle-right"></i></a>
            </div>

            <!--Các sản phẩm-->
            <div class="cacsanpham col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!--Sản phẩm-->
                @for (int i = 0; i < 4; i++)
            {
                <div class="sanpham col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <img src="~/Content/images/sanphammoi.png" alt="" />
                    <p>
                        Áo sơ mi nam ARISTINO ALS17-MO53 <br />
                        <span>750.000 đ</span>
                    </p>

                    <!--Nút mua hàng-->
                    <div>
                        <a href="@Url.Action("ChiTietSanPham","Home")">Chi tiết</a>
                    </div>
                </div>
                }
            </div>
        </div>

        <!--Sản phẩm nổi bật-->
        <div class="danhsachsanpham col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!--Tiêu đề-->
            <div class="tieude col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p>Sản phẩm nổi bật</p>
                <a href="@Url.Action("LoaiSanPham","Home")">xem thêm <i class="fa fa-chevron-circle-right"></i></a>
            </div>

            <!--Các sản phẩm-->
            <div class="cacsanpham col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!--Sản phẩm-->
                @for (int i = 0; i < 4; i++)
            {
                <div class="sanpham col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <img src="~/Content/images/sanphamnoibat.png" alt="" />
                    <p>
                        Áo thun nam Aristino ATS17-40 <br />
                        <span>250.000 đ</span>
                    </p>

                    <!--Nút mua hàng-->
                    <div>
                        <a href="@Url.Action("ChiTietSanPham","Home")">Chi tiết</a>
                    </div>
                </div>
                }
            </div>
        </div>

        <!--Sale off product-->
        <div class="danhsachsanpham col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!--Tiêu đề-->
            <div class="tieude col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p>Sale off product</p>
                <a href="@Url.Action("LoaiSanPham","Home")">xem thêm <i class="fa fa-chevron-circle-right"></i></a>
            </div>

            <!--Các sản phẩm-->
            <div class="cacsanpham col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!--Sản phẩm-->
                @for (int i = 0; i < 4; i++)
            {
                    <div class="sanpham col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <img src="~/Content/images/saleofproduct.png" alt="" />
                        <img src="~/Content/images/sale-logo.png" alt="" class="sale" />
                        <p>
                            Áo thun nam Aristino ATS17-40 <br />
                            <span class="old">250.000 đ</span><span class="new">200.000 đ</span>
                        </p>

                        <!--Nút mua hàng-->
                        <div>
                            <a href="@Url.Action("ChiTietSanPham","Home")">Chi tiết</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </article>

    <!--Danh mục sản phẩm-->
    @Html.Partial("_DanhMucSanPham")
</section>